/* Basic Styles */
html {
	margin: 0;
	padding: 0;
}

body {
	font: 400 0.9em/1.15em 'Raleway', sans-serif;
	color: #3D4144;
	width: 100%;
}

h1,
h2,
h3,
h4 {
	font-family: 'Cantata One', serif;
	font-weight: normal;
	line-height: 1.25em;
	color: #777;
}

a {
	color: #777;
}

a:hover,
a:focus {
	color: #C3B0B0;
}

.page {
	padding: 0 0.5rem;
}

.header {
	width: 100%;
	padding: 1px;
}

.header .logo {
	width: 100%;
	text-align: center;
	background:
		url('../img/gr.png') center right / auto 100% no-repeat, 
		url('../img/lt.png') center left / auto 100% no-repeat;
	margin: 0 0 0.5rem;
	padding: 1.25rem;
}

.header a {
	text-decoration: none;	
}


.header .navi a:hover ,
.header .navi a:focus{
	text-decoration:  underline;
}

.navi {
	font: 400 1.05em/1.5em 'Cantata One', serif;
	list-style: none;
	text-align: center;
	padding: 0;
	margin: 0;
}

.navi li {
	display:inline;
	padding: 0.75rem 0.5em;
	border-top: 2px solid #C3B0B0;
}

.splitter {
	border-top: 1px solid #C3B0B0;
	border-bottom: 1px solid #C3B0B0;
	padding: 0.5rem;
	color: #C3B0B0;
	text-align: center;
	background-color: #fff;
}

@media screen and (min-width: 29rem) {
	.header {
		max-width: 550px;
		margin: 0 auto;
		width: 100%;
		padding: 1px;
		background: 
			url('../img/gr.png') center right / auto 100% no-repeat, 
			url('../img/lt.png') center left / auto 100% no-repeat;
	}

	.header .logo {
		padding: 0.75rem;
		background: none;
	}
	
	.navi {
		font-size:1.25em;
	}
}

@media screen and (min-width: 35rem) {
	html {
		max-width: 1200px;
		margin: 0 auto;
	}
	
	.smallscreen {
		display: none;
	}
	
	.lauftext {
		background-size: 49% auto;
		background-attachment: fixed;
		background-repeat: no-repeat;
	}

	.right {
		padding: 0 0 0 50%;
		background-position: 0 50%;
	}
	
	.left {
		padding: 0 50% 0 0;
		background-position: 100% 50%;
	}
	
	.illustration_01 {
		background-image: url("../img/minipadwhite.png");
	}
	
	.illustration_02 {
		background-image: url("../img/minipadblack.png");
	}
	
	.illustration_03 {
		background-image: url("../img/miniwhite.png");
	}
	 
}

